@inherits LayoutComponentBase

<div right-action-buttons>
    <ThemeButton></ThemeButton>
</div>

<nav>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="material-icons">home</span>
    </NavLink>
</nav>

<main>
    <div>
    @Body
    </div>
</main>